<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="xnoBSyTeIQprrxnAkfzoGlklXC09qqNC6yYo9Na96XI" />
    <title>
        {{ if .IsHome }}
        {{ .Site.Title }}
        {{ else }}
        {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    </title>
    <link rel="shortcut icon" href="{{ .Site.Params.LogoURL }}">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}styles/main.css">
    {{ if .Site.Params.mobileMenu }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}styles/mobile-menu.css">
    {{ end }}

<!-- KaTeX -->
{{ if and .Params.math }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}third-party/katex/katex.min.css">
<script defer src="{{ .Site.BaseURL }}third-party/katex/katex.min.js"></script>
<script defer src="{{ .Site.BaseURL }}third-party/katex/contrib/auto-render.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
            delimiters: [
                { left: "$$", right: "$$", display: true },
                { left: "$", right: "$", display: false }
            ]
        });
    });
</script>
{{ end }}

{{ if .Params.math }}
<style>
    article p {
        text-indent: 2em;
        margin: 0;
    }
    article img {
        margin: 1em auto 1em -2em;
    }
    p.no-indent {
        text-indent: 0;
    }
</style>
{{ end }}
</head>
