<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="xnoBSyTeIQprrxnAkfzoGlklXC09qqNC6yYo9Na96XI" />
    <title>
        {{ if .IsHome }}
        {{ .Site.Title }}
        {{ else }}
        {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    </title>
    <link rel="shortcut icon" href="{{ .Site.Params.LogoURL }}">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}styles/main.css">
    {{ if .Site.Params.mobileMenu }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}styles/mobile-menu.css">
    {{ end }}
</head>