html {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 38em;
    margin: 0 auto;
    padding: 0 1em;
}

article {
    line-height: 1.7;
}

.license {
    margin: 2em auto;
}

/* # 导航菜单 */

nav {
    float: right;
    line-height: 4.5em;
}

nav input,
nav label {
    display: none;
}


/* # 各种标题 */

.site-title {
    float: left;
}

.site-title span {
    color: black;
    font-size: 1.25em;
}

.page-title,
.post-title {
    margin: 0;
    font-size: 1.75em;
}

article h2 {
    font-size: 1.5em;
    margin: .67em 0;
}

/* # 超链接 */

a {
    color: cornflowerblue;
    text-decoration: none;
}

nav .page-link,
nav .page-link:hover {
    margin-left: 1em;
    color: black;
}

/* 列表 */

.post-list {
    list-style: none;
    line-height: 1.7;
}


/* 日期 */

.post-date {
    font-family: Menlo, Consolas, Courier, monospace, sans-serif;
    color: grey;
}


/* 图片 */

article img {
    max-width: 100%;
    box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, 0.2), 0 .375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

.site-title img {
    height: 3.5em;
    margin: .75em .375em;
    vertical-align: middle;
}

/* 代码 */

code {
    font-family: Menlo, Consolas, Courier, monospace, sans-serif;
}

pre {
    overflow-x: auto;
}

/* 段落 */

article p:lang(zh-Hans) {
    text-align: justify;
}

article p.r {
    text-align: right;
}

article h2 + p {
    margin-top: -1em;   
}

/* 着重号，只能在少量（少于100个字符）且全是全角字符的情况下使用 */
/* 来自 https://github.com/sofish/typo.css/pull/41/files */
em {
  position: relative;
  font-style: normal;
}
em:after {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 100%;
  overflow: hidden;
  content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}
