html {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 38em;
    margin: 0 auto;
    padding: 0 1em;
}

article {
    line-height: 1.7;
}


/* # 导航菜单 */

nav {
    float: right;
    line-height: 4.5em;
}

nav input,
nav label {
    display: none;
}


/* # 各种标题 */

.site-title {
    float: left;
}

.site-title span {
    color: black;
    font-size: 1.25em;
}

.page-title,
.post-title {
    margin: 0;
    font-size: 1.75em;
}

article h2 {
    font-size: 1.5em;
    margin: .67em 0;
}


/* # 超链接 */

a {
    color: cornflowerblue;
    text-decoration: none;
}

nav .page-link,
nav .page-link:hover {
    margin-left: 1em;
    color: black;
}


/* 列表 */

.post-list {
    list-style: none;
    line-height: 1.7;
}


/* 日期 */

.post-date {
    font-family: Menlo, Consolas, Courier, monospace, sans-serif;
    color: grey;
}


/* 图片 */

article img {
    max-width: 100%;
    box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, 0.2), 0 .375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

.site-title img {
    height: 3.5em;
    margin: .75em .375em;
    vertical-align: middle;
}


/* 代码 */

code {
    font-family: Menlo, Consolas, Courier, monospace, sans-serif;
}

pre {
    overflow-x: auto;
}


/* 段落 */

article p:lang(zh-Hans) {
    text-align: justify;
}

article p.r {
    text-align: right;
}

article h2+p {
    margin-top: -1em;
}


/* 着重号 */


/* 来自 https://github.com/ethantw/Han */

em:lang(ja),
em:lang(zh) {
    padding-bottom: auto;
    border-bottom-width: 0;
}

em:lang(ja),
em:lang(zh) {
    -moz-text-emphasis: filled circle;
    -webkit-text-emphasis: filled circle;
    text-emphasis: filled circle;
    -moz-text-emphasis-position: under;
    -webkit-text-emphasis-position: under;
    text-emphasis-position: under;
    font-style: inherit;
    border-bottom: 2px dotted;
    padding-bottom: .05em;
    border-bottom-width: -webkit-calc(0px);
    padding-bottom: -webkit-calc(0px);
}